<header class="bg-white shadow-md rounded-b-lg sticky top-0 z-40 w-full">
  <nav class="container mx-auto px-6 py-3">
    <div class="flex justify-between items-center">
      <a [routerLink]="['/home']" class="text-2xl font-bold text-indigo-600">QuizMaster</a>
      <div class="space-x-2">
        <button id="login-btn" [routerLink]="['/login']"
          class="bg-indigo-600 hover:bg-indigo-700 text-white px-4 py-2 rounded-md text-sm font-medium transition duration-150 ease-in-out shadow-sm hover:shadow">
          Log In
        </button>
      </div>
    </div>
  </nav>
</header>
